/* vim: set ft=c tw=174: */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "./helpers.h"

/* Keymap */
#define BASE 0
#define NUM 1
#define SYM 2
#define NAV 3
#define SYS 4

// TODO: numword, symword, special chars, caps_word, del
ZMK_LAYER(base,
  &kp GRAVE &kp Q       &kp W       &kp E        &kp R        &kp T       /* */ &kp Y   &kp U         &kp I        &kp O       &kp P          &kp MINUS
  &kp ESC   &hml LGUI A &hml LALT S &hml LCTRL D &hml LSHFT F &kp G       /* */ &kp H   &hmr RSHFT J  &hmr LCTRL K &hmr LALT L &hmr LGUI SEMI &kp SQT
  &kp BSLH  &kp Z       &kp X       &kp C        &kp V        &kp B       /* */ &kp N   &kp M         &kp COMMA    &kp DOT     &kp FSLH       &kp EQUAL
                                    &lt SYS DEL  &lt NUM BSPC &lt NAV TAB /* */ &kp RET &lt SYM SPACE &lt SYS ESC
)
 
ZMK_LAYER(num,
  &trans &trans &trans &trans &trans &trans /* */ &trans &kp N7 &kp N8 &kp N9 &trans  &trans
  &trans &trans &trans &trans &trans &trans /* */ &trans &kp N4 &kp N5 &kp N6 &trans  &trans
  &trans &trans &trans &trans &trans &trans /* */ &kp N0 &kp N1 &kp N2 &kp N3 &trans  &trans
                       &trans &none  &trans /* */ &trans &trans &trans
)

ZMK_LAYER(sym,
  &trans &kp LBKT  &kp LBRC &kp RBRC &kp RBKT &trans    /* */ &trans &trans &trans &trans &trans &trans
  &trans &kp CARET &kp LPAR &kp RPAR &kp DLLR &kp PRCNT /* */ &trans &trans &trans &trans &trans &trans
  &trans &kp HASH  &kp AT   &kp AMPS &kp STAR &kp EXCL  /* */ &trans &trans &trans &trans &trans &trans
                            &trans   &trans   &trans    /* */ &trans &none  &trans
)

ZMK_LAYER(nav,
  &trans &trans &trans &trans &trans &trans /* */ &trans &kp HOME  &kp UP    &kp END   &kp PG_UP &trans
  &trans &trans &trans &trans &trans &trans /* */ &trans &kp LEFT  &kp DOWN  &kp RIGHT &kp PG_DN &trans
  &trans &trans &trans &trans &trans &trans /* */ &trans &kp LC(C) &kp LC(X) &kp LC(V) &kp LC(Z) &trans
                       &trans &trans &none  /* */ &trans &trans    &trans
)

ZMK_LAYER(sys,
 &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 /* */ &trans &trans      &trans &trans &trans &trans
 &trans     &trans       &trans       &trans       &trans       &trans       /* */ &trans &trans      &trans &trans &trans &trans
 &trans     &trans       &trans       &trans       &trans       &trans       /* */ &trans &trans      &trans &trans &trans &trans
                                      &none        &bootloader  &trans       /* */ &trans &bootloader &none
)
