#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "./corne_key_positions.h"

#define HOMEROW_TAPPING_TERM_MS 200
#define QUICK_TAP_MS 150
#define PRIOR_IDLE_MS 100

#define THUMB_TAPPING_TERM_MS 180
#define COMBO_TERM_MS 50

#define XXX &none
#define ___ &trans

/ {
  keymap {
    compatible = "zmk,keymap";
    default_layer {bindings = <
        XXX     &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    XXX
        &kp ESC &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
        XXX     &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH XXX
                     &kp DEL &kp TAB &kp BSPC   &kp SPACE &kp RET &kp LSHFT
      >;
    };
  };
};
